<section class="section-content about">
    <div class="container">
        <h1>ABOUT</h1>
        <div class="about-cont">
            <div class="about-cont-section about-cont-section1">
                <h5>PROFILE</h5>
                <div class="profile-wrap">
                    <img src="/assets/img/profile-img.jpg" alt="이인호 사진">
                    <div class="profile-cont">
                        <div class="profile-left">
                            <p><strong>이름</strong></p>
                            <p><strong>생년월일</strong></p>
                            <p><strong>이메일</strong></p>
                        </div>
                        <div class="profile-right">
                            <p>이인호</p>
                            <p>2000.02.14</p>
                            <p>ino2143@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-cont-section2and3">
                <div class="about-cont-section about-cont-section2">
                    <h5>EDUCATION</h5>
                    <div class="about-cont-list">
                        <ul class="about-cont-ul1">
                            <li class="about-cont-li1">
                                <strong>2021.02</strong>
                            </li>
                            <li class="about-cont-li1">
                                <strong>2019.02</strong>
                            </li>
                        </ul>
                        <ul class="about-cont-ul2">
                            <li class="about-cont-li2">
                                <p>삼육보건대학교 의료정보과 졸업</p>
                            </li>
                            <li class="about-cont-li2">
                                <p>은평메디텍고등학교 의료정보과 졸업</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="about-cont-section about-cont-section3">
                    <h5>ACTIVE</h5>
                    <div class="about-cont-list">
                        <ul class="about-cont-ul1">
                            <li class="about-cont-li1">
                                <strong>2021.06</strong>
                            </li>
                            <li class="about-cont-li1">
                                <strong>2020.01</strong>
                            </li>
                        </ul>
                        <ul class="about-cont-ul2">
                            <li class="about-cont-li2">
                                <p>구트아카데미 교육과정 수료</p>
                            </li>
                            <li class="about-cont-li2">
                                <p>대만 해외연수(2주)</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about-cont-section about-cont-section4">
                <h5>CERTIFICATE</h5>
                <div class="about-cont-list">
                    <ul class="about-cont-ul1">
                        <li class="about-cont-li1">
                            <strong>2020.08</strong>
                        </li>
                        <li class="about-cont-li1">
                            <strong>2019.02</strong>
                        </li>
                    </ul>
                    <ul class="about-cont-ul2">
                        <li class="about-cont-li2">
                            <p>정보처리산업기사 취득</p>
                        </li>
                        <li class="about-cont-li2">
                            <p>ITQ OA MASTER 취득</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>